.imgAccueil{
  width: 100%;
  height: auto;
}

.logo {
  width: 9%;
  height: auto;
}




/* //////////////////////// */


/* header .row {
	min-height: 70vh;
	background-image: url(/img/ville2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	color: #8C1924;

} */

header .formReservation {
	background-color: rgba(0,0,0,0.2);
	min-height: 70vh;
	display: flex;
	font-family: 'Raleway', sans-serif;
  color: #c83142;
}

header h2 {
	font-family: 'Dancing Script', cursive;
}

header .slogan {
	display: flex;
	min-height: 70vh;
	align-items: flex-end;
	justify-content: flex-end;
}

@media (max-width: 768px) {
	header .slogan {
		display: none;
	}
}

.boullay {
  width: 80%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.gaullier {
  width: 67%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.boscher {
  width: 90%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.finMenu{
  margin-right: 0px;
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding-inline-start: 0px;
}

.p {
  text-align: justify;
  font-size: 50px;
}

#p {
  text-align: justify;
  font-size: 20px;
}

#bodyspe {
  background-image: url(/img/palais4.jpg);
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
}

.matos {
  justify-content: center;
  text-align: center;
  color: #c83142;
  font-size: 15px;
}

.Contact {
  margin-left: 20px;
}


.h33 {
  justify-content: center;
  text-align: center;
}

.mail {
  color: #c83142;
}
