.imgAccueil{
  width: 100%;
  height: auto;
}

.logo {
  width: 9%;
  height: auto;
}




/* //////////////////////// */


header .row {
	min-height: 70vh;
	background-image: url(ville2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	color: #8C1924;

}

header .formReservation {
	background-color: rgba(0,0,0,0.5);
	min-height: 70vh;
	display: flex;
	font-family: 'Raleway', sans-serif;
}

header h2 {
	font-family: 'Dancing Script', cursive;
}

header .slogan {
	display: flex;
	min-height: 70vh;
	align-items: flex-end;
	justify-content: flex-end;
}

@media (max-width: 768px) {
	header .slogan {
		display: none;
	}
}

.boullay {
  width: 80%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.gaullier {
  width: 67%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.boscher {
  width: 90%;
  height: auto;
  justify-content: center;
  vertical-align: middle;
}

.finMenu{
  margin: 0px;
}
